html, body {
  height: 100%;
}

body {
  background: $green;
}

a:link, a:visited, a:hover {
  color: white;
  text-decoration: underline;
}

.container {
  color: white;
  width: 400px;
  margin: 0;
}

.form-actions {
  background: none;
  border-top: none;
  padding-left: 0;
  margin: 0;
}

.btn {
  font-weight: bold;

  &.btn-primary {
    color: white;
    @include box-shadow(0 2px 0 0 darken($btn-primary-background, 20%));
    &:active {
      position: relative;
      top: 2px;
      @include box-shadow(0 0 0 0);
    }
  }
}

a.btn:visited {
  color: $text-color;
  &.btn-primary, &.btn-warning, &.btn-danger, &.btn-success, &.btn-info, &.btn-inverse {
    color: white;
  }
}